name: API Tests with Allure Reports

on:
  push:
    branches:
      - main
      - feature/initial-setup
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      API_KEY: ${{ secrets.API_KEY }}
      ALLURE_RESULTS_DIR: target/allure-results

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup secrets.properties
        run: |
          echo "api.key=${API_KEY}" > src/test/resources/secrets.properties
          cat src/test/resources/secrets.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean install

      - name: Run API Tests
        run: mvn test -Dallure.results.directory=target/allure-results || true

      - name: List Allure results
        if: always()
        run: ls -R target/allure-results

      - name: Generate Allure Report with Maven (optional but useful)
        if: always()
        run: mvn allure:report -Dallure.results.directory=target/allure-results -Dallure.report.directory=target/allure-report

      - name: Upload Allure Report Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/allure-report/

      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: allure-gh-pages
          path: allure-gh-pages

      - name: Create Allure report for GH Pages
        uses: simple-elf/allure-report-action@master
        if: always()
        id: allure-report
        with:
          allure_results: target/allure-results
          gh_pages: allure-gh-pages
          allure_history: allure-history
          keep_reports: 20

      - name: Deploy Allure report to GH Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.PAT }}
          PUBLISH_BRANCH: allure-gh-pages
          PUBLISH_DIR: allure-history

      - name: Print Allure Report URL
        if: always()
        run:
          echo "Allure report https://liudmilaparf.github.io/rijksmuseum-api-tests/"
